
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightblue;
}
img{
  height:65%;
  width:65%;
  margin: 5% 15%;
}
h1{
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  background:#40e0d0;
  font-family: monospace;
}
nav>ul{
  text-align: center;
  background: #40e0d0;
  padding:20px;
}
nav>ul>li{
  display:inline;
}
nav>ul>li>a{
  width:50%;
  text-decoration: none;
  background: #ff00ff;
  margin:30px;
  font: 23px sans-serif;
  border:5px red solid;
  border-radius: 25%;
}
nav>ul>li>a:hover{
  background: yellow;
  margin:10px;
  padding:10px;
  border-radius: 50%;
}
.introduction p{
margin: 50px 40px;
font-style:italic;
color:purple;
font-weight:400;
}
.image-wrap{
  position:relative;
}
.image-wrap p{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  margin:20% 20% 0 20%;
  color:#e75480;
}
.image-wrap:hover p{
  opacity: 1;
}
footer {
text-align: center;
background: #e75480;
}
